In [3]:
import pandas as pd
import numpy as np

In [4]:
df1=pd.read_csv("Entities.csv")
df1.head()

,Unnamed: 0,property_id,location_id,page_url,property_type,price,location,city,province_name,latitude,longitude,baths,purpose,bedrooms,date_added,agency,agent,Total_Area
0,0,237062,3325,https://www.zameen.com/Property/g_10_g_10_2_gr...,Flat,10000000,G-10,Islamabad,Islamabad Capital,33.679890,73.012640,2,For Sale,2,2/4/2019,NaN,NaN,1089.004
1,1,346905,3236,https://www.zameen.com/Property/e_11_2_service...,Flat,6900000,E-11,Islamabad,Islamabad Capital,33.700993,72.971492,3,For Sale,3,5/4/2019,NaN,NaN,15246.056
2,2,386513,764,https://www.zameen.com/Property/islamabad_g_15...,House,16500000,G-15,Islamabad,Islamabad Capital,33.631486,72.926559,6,For Sale,5,7/17/2019,NaN,NaN,2178.008
3,3,656161,340,https://www.zameen.com/Property/islamabad_bani...,House,43500000,Bani Gala,Islamabad,Islamabad Capital,33.707573,73.151199,4,For Sale,4,4/5/2019,NaN,NaN,10890.000
4,4,841645,3226,https://www.zameen.com/Property/dha_valley_dha...,House,7000000,DHA Defence,Islamabad,Islamabad Capital,33.492591,73.301339,3,For Sale,3,7/10/2019,Easy Property,Muhammad Junaid Ceo Muhammad Shahid Director,2178.008

In [6]:
df1.shape

(168446, 18)

In [7]:
df1.purpose.unique()

array(['For Sale', 'For Rent'], dtype=object)

In [11]:
df1[df1.purpose=="For Rent"].head()

,Unnamed: 0,property_id,location_id,page_url,property_type,price,location,city,province_name,latitude,longitude,baths,purpose,bedrooms,date_added,agency,agent,Total_Area
35,35,858689,3190,https://www.zameen.com/Property/dha_defence_ph...,House,110000,DHA Defence,Islamabad,Islamabad Capital,33.542039,73.093414,5,For Rent,5,10/20/2018,Easy Property,Muhammad Junaid Ceo Muhammad Shahid Director,5445.000
36,36,877435,165,https://www.zameen.com/Property/islamabad_f_7_...,House,600000,F-7,Islamabad,Islamabad Capital,33.720413,73.056493,6,For Rent,6,10/20/2018,Nexus Estate Services,Ch Afzal/ Ch Faisal/ Ch Adeel,10890.000
37,37,981663,3349,https://www.zameen.com/Property/g_15_g_15_2_g_...,Lower Portion,33000,G-15,Islamabad,Islamabad Capital,33.633416,72.918220,2,For Rent,2,10/20/2018,NaN,NaN,2178.008
38,38,1838236,1378,https://www.zameen.com/Property/islamabad_paki...,House,45000,Pakistan Town,Islamabad,Islamabad Capital,33.575405,73.143325,5,For Rent,3,7/11/2019,NaN,NaN,65340.000
39,39,1871937,156,https://www.zameen.com/Property/islamabad_bhar...,Upper Portion,12000,Bhara kahu,Islamabad,Islamabad Capital,33.737402,73.179159,2,For Rent,2,2/4/2019,NaN,NaN,1361.255

In [12]:
df2 = df1.drop(df1[df1['purpose'] == "For Rent"].index)

In [28]:
df2.shape

(120655, 18)

In [29]:
df3=df2.drop(['property_id','location_id','page_url','latitude','longitude','date_added','agency','agent'],axis=1)

In [30]:
df3.head()

,Unnamed: 0,property_type,price,location,city,province_name,baths,purpose,bedrooms,Total_Area
0,0,Flat,10000000,G-10,Islamabad,Islamabad Capital,2,For Sale,2,1089.004
1,1,Flat,6900000,E-11,Islamabad,Islamabad Capital,3,For Sale,3,15246.056
2,2,House,16500000,G-15,Islamabad,Islamabad Capital,6,For Sale,5,2178.008
3,3,House,43500000,Bani Gala,Islamabad,Islamabad Capital,4,For Sale,4,10890.000
4,4,House,7000000,DHA Defence,Islamabad,Islamabad Capital,3,For Sale,3,2178.008

In [31]:
df3.purpose.unique()

array(['For Sale'], dtype=object)

In [39]:
df4=df3.drop(['Unnamed: 0','purpose','province_name'],axis=1)
df4

,property_type,price,location,city,baths,bedrooms,Total_Area
0,Flat,10000000,G-10,Islamabad,2,2,1089.004
1,Flat,6900000,E-11,Islamabad,3,3,15246.056
2,House,16500000,G-15,Islamabad,6,5,2178.008
3,House,43500000,Bani Gala,Islamabad,4,4,10890.000
4,House,7000000,DHA Defence,Islamabad,3,3,2178.008
...,...,...,...,...,...,...,...
168441,House,26500000,Gadap Town,Karachi,0,6,26136.096
168442,House,12500000,Gadap Town,Karachi,0,3,2178.008
168443,House,27000000,Gadap Town,Karachi,0,6,26136.096
168444,House,11000000,Gadap Town,Karachi,0,3,21235.578
168445,House,9000000,Bahria Town Karachi,Karachi,3,3,25591.594

In [40]:
df4.property_type.unique()

array(['Flat', 'House', 'Penthouse', 'Farm House', 'Lower Portion',
       'Upper Portion', 'Room'], dtype=object)

In [41]:
df4.city.unique()

array(['Islamabad', 'Lahore', 'Faisalabad', 'Rawalpindi', 'Karachi'],
      dtype=object)

In [42]:
df4.isna().sum()

property_type    0
price            0
location         0
city             0
baths            0
bedrooms         0
Total_Area       0
dtype: int64

In [43]:
df4.baths.unique()

array([  2,   3,   6,   4,   8,   7,   5,   0,   1,  10,   9,  11,  13,
        12, 403,  14], dtype=int64)

In [59]:
df4.bedrooms.unique()

array([ 2,  3,  5,  4,  8,  7,  0,  1,  6, 10, 12, 11,  9, 14, 15, 16, 13,
       18, 25, 27], dtype=int64)

In [60]:
df4[df4.bedrooms==0].shape

(13119, 7)

In [62]:
df5=df4.drop(df4[df4['bedrooms'] == 0].index)

In [68]:
df5[df5.baths>(df5.bedrooms+3)]

,property_type,price,location,city,baths,bedrooms,Total_Area
596,Flat,15000000,DHA Defence,Islamabad,8,4,3267.012
2752,House,51000000,Gulberg,Lahore,10,5,5445.000
3000,House,20000000,Lasani Garden,Faisalabad,8,4,1633.506
3775,House,95000000,Cantt,Karachi,10,6,59895.000
4384,House,8500000,Taj Bagh Scheme,Lahore,7,2,1633.506
...,...,...,...,...,...,...,...
151934,House,28500000,Gulshan-e-Iqbal Town,Karachi,6,2,1633.506
159721,House,250000,G-14,Islamabad,14,10,81675.000
161541,House,27500000,Scheme 33,Karachi,9,5,26136.096
162777,Flat,540000,Gadap Town,Karachi,6,2,7623.028
165151,House,32500000,DHA Defence,Lahore,10,4,2722.510

In [73]:
df6=df5.drop(df5[df5.baths > (df5.bedrooms+3)].index)
df6

,property_type,price,location,city,baths,bedrooms,Total_Area
0,Flat,10000000,G-10,Islamabad,2,2,1089.004
1,Flat,6900000,E-11,Islamabad,3,3,15246.056
2,House,16500000,G-15,Islamabad,6,5,2178.008
3,House,43500000,Bani Gala,Islamabad,4,4,10890.000
4,House,7000000,DHA Defence,Islamabad,3,3,2178.008
...,...,...,...,...,...,...,...
168441,House,26500000,Gadap Town,Karachi,0,6,26136.096
168442,House,12500000,Gadap Town,Karachi,0,3,2178.008
168443,House,27000000,Gadap Town,Karachi,0,6,26136.096
168444,House,11000000,Gadap Town,Karachi,0,3,21235.578
168445,House,9000000,Bahria Town Karachi,Karachi,3,3,25591.594

In [74]:
df6[df6.baths==0].shape

(14769, 7)

In [75]:
df6.groupby('city')['baths'].apply(lambda x: (x == 0).sum())

city
Faisalabad     452
Islamabad     1558
Karachi       5814
Lahore        5357
Rawalpindi    1588
Name: baths, dtype: int64